*
!app

!bootstrap
bootstrap/cache/*

!config

!database

!docker

public/*
!public/favicon.ico
!public/index.php

!resources

!routes

# keep directories but empty
!storage
storage/app
storage/framework/cache/*
storage/framework/views/*
storage/logs/*

# keep directory but empty
!tests
tests/*

!artisan

!composer.json
!composer.lock

!package.json
!yarn.lock
!webpack.mix.js
